.get-movie-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 2%; */
    padding: 0px 3%;
    justify-content: center;
    overflow: hidden;
}

.skeleton-container {
    box-sizing: border-box;
    height: 400px;
    margin-top: 5%;
    width: 30%;
    background: black;
    min-width: 250px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    box-shadow: 0px 0px 4px 0px rgba(256, 256, 256, .2);
    
}


@keyframes animateSkeleton {
    0% {

        opacity: 1;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}

.skeleton-image {
    width: 100%;
    height: 70%;
    background: linear-gradient(to right bottom,transparent 0%, #11005C 3%, #020066 25%, #5221B0 80%, #5221B0 97%, transparent 100%);
    animation: animateSkeleton 1s linear infinite;
}

.skeleton-name {
    height: 10%;
    width: 80%;
    background: linear-gradient(to right bottom,transparent 0%, #11005C 3%, #020066 25%, #5221B0 80%, #5221B0 97%, transparent 100%);
    animation: animateSkeleton 1s linear infinite;
}

.single-movie-container {
    box-sizing: border-box;
    width: 30%;
    margin-top: 20px;
    background: #19181E;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1%;
    border-radius: 10px;
    min-width: 250px;
    cursor: pointer;
}
.image-container {
    height: 400px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.movie-name-rating-container {
    height: calc(100% - 420px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.movie-rating-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
    margin-top: 4px;
    
}
.movie-rating-container i {
    margin-top: 2px;
    color: yellow;
}
.name {
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 300;
}
.movie-rating {
    opacity: .7;
}

@media (max-width: 950px) {
    .skeleton-container {
        height: 350px;
        width: 180px;
    }
    .single-movie-container {
        min-height: 350px;
        width: 186px;
    }
    .image-container {
        height: 300px;
    }
    .movie-name-rating-container {
        height: calc(100% - 320px);
    }
}

@media (max-width: 450px) {
    .get-movie-container {
        padding: 0px;
        gap: 2%;
    }
    .skeleton-container {
        width: 46%;
        min-width: 0px;
    }
    .single-movie-container {
        min-height: 330px;
        min-width: 150px;
        width: 46%;
    }
    .image-container {
        height: 280px;
    }
    .movie-name-rating-container {
        height: calc(100% - 300px);
    }
}