* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'poppins';
    overflow-x: hidden;
    
}

body {
    overscroll-behavior-inline: contain;
    overscroll-behavior: contain;
    background-color: #101115;
}

.homebody {
    box-sizing: border-box;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 0px 0px;
    width: 100%;
    background: #101115;
    justify-content: space-around;
    min-height: 130vh;
    overscroll-behavior-inline: contain;
    overscroll-behavior: contain;
    
}
