.sub-body {
    box-sizing: border-box;
    width: 28.5%;
    background: #101115;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px gray;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.upcomingMoviesHeader {
    box-sizing: border-box;
    font-size: 1.5rem;
}
.upcoming-movies-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
}

.UpcomingMoviesSkeleton {
    align-self: center;
    height: 250px;
    width: 90%;
    padding: 10px 15px;
    box-sizing: border-box;
    background: black;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    box-shadow: 0px 0px 14px 0px rgba(17, 0, 92, .5);
}

@keyframes animateSkeleton {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}

.skeletonImage {
    height: 70%;
    width: 100%;
    background: linear-gradient(to right bottom,transparent 0%, #11005C 3%, #020066 25%, #5221B0 80%, #5221B0 97%, transparent 100%);
    box-sizing: border-box;
    animation: animateSkeleton 1s linear infinite;    
}

.skeletonName {
    height: 10%;
    width: 80%;
    background: linear-gradient(to right,#11005C 0%, #020066 50%, #5221B0 80%);
    animation: animateSkeleton 1s linear infinite;
}

.UpcomingMovieContainer {
    align-self: flex-start;
    height: auto;
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.upcoming-movie-image-container {
    height: 270px;
    width: 80%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}

.upcoming-movie-image {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}

.upcoming-movie-title {
    overflow: hidden;
    font-size: 1.2rem;
    font-weight: 550;
}

.release-date {
    overflow: hidden;
    opacity: .7;
}

/*Style for tab width starts here*/
@media (max-width: 950px) {
.sub-body {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}
.upcomingMoviesHeader {
    padding: 0px 20px;
}
.upcoming-movies-container {
    padding: 5px 20px;
    min-width: 100%;
    min-height: 350px;
    background: #19181E;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 205px;
    overflow: scroll;
    gap: 30px;
    justify-items: start;
    transition: all linear .2s;
}
.upcoming-movie-image-container {
    height: 300px;
    width: 100%;
}
.upcoming-movies-container::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}
.release-date {
    font-size: .9rem;
}
}