.mobile-navbar-container {
    display: none;
}
@media (max-width: 700px) {
    .mobile-navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1000;
        height: 70px;
        box-shadow: 0px 0px 5px 0px rgba(189, 43, 231, 0.7);
        border-radius: 20px 20px 0px 0px;
        background-color: black;
    }
    .navbar-items {
        display: flex;
        height: 100%;
        flex-direction: column;
        position: relative;
        padding: 0px 20px;
        justify-content: space-around;
        
    }
    .navbar-items::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        border-radius: 15px;
        height: 5px;
        background-color: #BD43E7;
        z-index: inherit;
        transition: all linear .3s;
    }
    .navbar-items i, .navbar-items {
        color: rgba(256, 256, 256, .7);
        position: relative;
        font-size: 2rem;
        font-weight: 900;
        transition: all linear .3s;
        z-index: 100000;
    }
    .ball-container {
        position: fixed;
        bottom: 40px;
        height: 70px;
        width: 70px;
        background-color: blue;
        z-index: 10000;
    }
    .active::before {
        width: 100%;
    }
    .active i {
        color: #BD43E7;
    }
}