.navbar-container {
    position: fixed;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #101115;
    align-items: center;
    z-index: 100000;
    box-shadow: 0px 0px 5px 0px rgba(256, 256, 256, .2);
}

.logo-container {
    height: 80%;
    /* width: 9%; */
    min-width: 50px;
    overflow: hidden;
}
.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.searchbar-container {
    box-sizing: border-box;
    padding: 0px 10px;
    overflow: hidden;
    width: max(40%, 400px);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.invalid-input {
    position: absolute;
    color: red;
    transition: all linear .2s;
    bottom: -30%;
}
.searchbar {
    padding-left: 3px;
    width: calc(100% - 20px);
    height: 50%;
    outline: none;
    border: 0px;
    font-size: 1.2rem;
    background-color: #19181E;
}
.icon-container{
    position: absolute;
    right: 40px;
    font-size: 27px;
    padding-top: 5px;
    align-self: center;
    text-align: center;
    background-color: #19181E;
}
.icon-container i:hover {
    color: #BD43E7;
    cursor: pointer;
}
.menu-container {
    height: 100%;
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.menu-container a {
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    padding: 5px 25px 5px 0px;
}

.profile-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem !important;
}

.profile-container i:hover {
    color: #BD43E7;
}

.menu-item::before {
    content: '';
    position: absolute;
    bottom: 0px;
    border-radius: 2px;
    height: 5px;
    width: 0px;
    background-color: #BD43E7;
    z-index: 10;
    transition: all linear .3s;
}
.active-menu::before {
    background-color: rgba(256, 256, 256, .6) !important;
}
.menu-item:hover::before {
    width: calc(100% - 25px) !important;
}

.active-menu {
    color: #BD43E7;
}

@media (max-width: 700px) {
    .navbar-container {
        box-sizing: content-box;
        justify-content: space-around;
        height: 70px;
        padding: 10px;
        box-shadow: 0px 0px 5px 0px rgba(189, 43, 231, 0.8);
        font-size: 1.4rem;;
    }
    .logo-container {
        min-width: 90px;
    }
    .searchbar-container {
        height: 100%;
        width: max(80%, 500px);
    }
    .invalid-input {
        display: none;
    }
    .searchbar {
        box-sizing: border-box;
        padding: 0px 5px;
        height: 70%;
        color: #BD43E7;
    }
    .menu-container {
        display: none;
    }
    .icon-container i{
        color: #BD43E7;
    }
}